body{
	margin:0px;
	padding:20px;
	background:#f3f3f3;
	color:#444;
	font-family:Helvetica, Arial, sans-serif;
}
header{
	padding:20px;
}
h1,h2,h3{
	letter-spacing:.03em;
}
section{
	margin:40px 20px;
	padding:30px;
	background:#fff;
	border:1px solid #666;
	box-shadow:8px 8px 0px rgba(60, 71, 93, 0.4);
}